@import'utilities.css';
:root{
    --primary:#00FFFF;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#595959;
    --light:#F2F2F2; 
    --secondary:#070606;
} 
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth ;
}
*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing:antialised; 
}
header{
    background-color: var(--dark);
    clip-path: polygon(0 0,100% 0, 100% 100%,70% 87%,0 100%);
    
}

/* PC */
.container{
    max-width: 1152px;
    padding:0 15px;
    margin:0 auto;
    
}

/* Phone */
@media (min-width: 768px) {
    .container{
        max-width: 720px;;
    }
}
/* tablet */
@media (min-width: 576px) {
    .container{
        max-width: 540px;;
    }
}
/* Small */
@media (min-width: 992px) {
    .container{
        max-width: 960px;;
    }
}
/* small laptop */
@media (min-width: 1200px) {
    .container{
        max-width: 1152px;;
    }
}
header nav .left a{
    color: var(--pure);
    text-decoration:none;
    margin-right:2rem ;
    text-transform: uppercase;
    transition: all.3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav{
    padding:2rem 0; 
}
header nav .branding{
    margin-right:  3rem; 
}

.branding img{
    display: block;
}

.hero .left img{
    width: 400px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom:0.5;
    
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right p span{
    color: var(--primary);
    font-size:1.3rem;
}
.hero .right{
    margin-top: -5rem;
}


section{
    padding:6rem 0 ;
     
}

section.about .about-me-img{
    height: 450px;
    border:4px solid blanchedalmond;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}

section.about h2{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Poppins', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 1.6rem;
    transition: all 0.3s;
}
section.about .social a:hover{
    background: var(--dark);
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom:1rem ;
    line-height: 0.5;
    margin-bottom: 8rem;
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
.section-heading span{
    color: var(--primary);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem ;
    grid-row-gap:6rem ;
}
section.services{
    background: var(--light);
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .4s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 52%;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
section.services .card-wrapper .card p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background:silver;
}
section.services .card-wrapper .card:hover p{
    color: var(--pure);
}

section.Freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(82, 46, 46, 0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0,100% 0, 100% 100%,67% 80%,0 100% );
    padding-bottom: 10rem;
}
section.Freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.Freelancer p{
    margin-bottom: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-heading-award{
    color: var(--dark);
    text-align: center;
    margin-bottom:1rem ;
    line-height: 0.5;
    margin-bottom: 8rem;
    font-family:'Pacifico', 'sans-serif';
}

.section.Awards .ict-img{
    text-align: center;
}

section.Awards .slider .slide img{
    width: 700px;
    height:321px;
    border-radius: 20%;
    object-fit: cover;
    
}
section.Awards .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 6rem;
}
section.Awards .slider .slide h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--ternary);
    margin: 1rem;
}
section.Awards .slider .slide span{
    font-size: 1.5rem;
    color: var(--primary);
}
section.Awards .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.Awards .slider-dots {
    margin-top: 3rem;
}
section.Awards .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
section.Awards .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
    margin-top: 7rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 500;
    margin-bottom: 1.5rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 500;
}
section.contact h1{
    font-size: 2rem;
}
footer{
    display: block;
    text-align:center;
    background-color: DarkSalmon;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
}



.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    
}

.hamberger img{
    width: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    line-height: 5rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;

}

.open{
    transform: translateX(0);
}


.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

}
.times img{
    width: 30px;
    margin-left: -9rem; 
}
.mobile-nav ul{
    list-style-type:none;
}

.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}

@media (max-width:1024px){
    header #main-nav{
        display: none;
    }
    branding{
        display: block;
    }
    .hamberger{
        display: block;
    }
    .hero .left img {
        width: 279px;
        margin-bottom: 0rem;
        margin-left: -5rem;
        margin-top: -3rem;
    }
    .hero{
        padding-top: 6rem;
    }
    .hero .right p{
        margin-bottom: 1rem;
    }
    header {
        clip-path: polygon(0 0,100% 0, 100% 100%,30% 91%,0 100% );
    }
    section.about .about-me-img {
        height: 261px;
    }
    section.services .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 6rem;
    }
    section.contact .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
    }
}
@media (max-width:576px) {
    .hero{
        flex-direction: column;
    }
    
    header{
        clip-path: polygon(0 0,100% 0, 100% 100%,68% 92%,0 100% );    
    }
    .hero .right{
        position: absolute;
        top: 206px;
        padding:0 1rem;
        margin-top: -5em;
        background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2));

    }
    

    .hero .left img {
        width: 267px;
        height: 368px;
    }
    .hero .left{
        margin-top: 2rem;
        margin-right: -22rem;
        
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top: 1.5rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section {
        padding: 3rem 0;
    }
    section.services .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    section.Freelancer h1 {
         line-height: 2.5rem;
    }
    section.Freelancer {
        clip-path: polygon(0 0,100% 0, 100% 100%,67% 89%,0 100% );
        padding-bottom: 8rem;
    }
    section.Awards .slider .slide img{
        width: 360px;
        border-radius: 0%;
        border: 8px solid #555;
        
    }
    .section-heading-award{
        margin-bottom: 6rem;
    }   
    section.contact .card-wrapper{
        grid-template-columns:repeat(1, 1fr);
    }
    section.contact .card-wrapper .card h1{
        font-weight: 500;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
    section.Awards .slider .slide h2{
        margin: 2rem;;
    }
    
}
